
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
/* *{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
} */
*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Press Start 2P', sans-serif; */
  /* font-size: 12px; */
    
}
/* html{
    width: 100%;
} */
.searchBar{
    height: 20px;
    /* display: block;  */
    width: 80%;
    margin: 20px 20px 20px 5px;
    background-color: rgb(237, 246, 189);
}
.searchContainer{
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    /* background-color: aqua; */
    font-weight: bolder;
    /* position: sticky;     */
    position: sticky;
    top: 100px;
    /* overflow: hidden; */
    filter: drop-shadow(8px 8px 10px rgb(0, 0, 0))
    
}
.mainContainer{
    /* width: 100%; */
    height: auto;
    margin-top: 90px;
    background: linear-gradient(1000deg, #00C9FF 0%, #92FE9D 100%);
    
    /* background-color: rgb(225, 139, 11); */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);  
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* display: flex;
    flex-flow: wrap; */
}
.mapContainer{
    height: auto;
    /* background-color: rgb(208, 176, 135); */
    background: linear-gradient(15deg, #00C9FF 0%, #92FE9D 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 26px 26px, 
    rgba(0, 0, 0, 0.12) 0px -6px 15px, 
    rgba(0, 0, 0, 0.12) 0px 2px 3px, 
    rgba(0, 0, 0, 0.17) 0px 6px 6px, 
    rgba(0, 0, 0, 0.09) 0px -1px 2px;
    border-radius: 10px;
    border-style:  solid;
    margin: 5px auto;
    display: grid;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* flex-flow: wrap; */
    
    /* flex-flow: wrap; */
    /* width: auto; */
    /* height: auto; */
    /* margin: 10px; */
    /* display: grid;
    grid-template-rows: max-content 100px 1fr; */
    /* display: flex; */
    /* flex-flow: wrap; */
    /* flex-direction: column; */
    width: 200px;
}
.imgApi{
    height: 200px;
    /* background-color: rgb(189, 212, 204); */
    border-radius: 10px 10px 0 0;
    display: block;
    margin: 0px auto;
    /* width: 100%; */
}
.infoContainer{
    text-align: left;
    margin: 3px;
    width: 90%;
    /* box-sizing: border-box; */
    /* box-sizing: content-box; */
    /* width: 100%; */
    background-color: aqua;
    
}
.infoTitle{
    text-align: center;
}
.cardDetailBtn{
    margin: 2px auto;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    height: 25px;
    display: grid;
    cursor: pointer;
    font-weight: bolder;
}


    @media screen and (max-width: 800px) {
        .mainContainer, .mapContainer{
            /* grid-column: 2 / 4;
            grid-row: 1;
            grid-column: 1 / 4;
            grid-row: 1; */
            /* grid-template-columns: repeat(1, 1fr);  
            gap: 10px;
            grid-auto-rows: minmax(100px, auto); */
            display: block;
        }
        
        
    }