*{
    margin: 0px;
    padding: 0px;
}
.infoMainContainer{
    margin:  auto;
    height: 84vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    padding: auto;
    /* background-color: rgb(167, 236, 236); */
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    /* border: solid red */
}
.detailImgContainer{
    margin: auto;
    padding: 20px;
    /* background-color: rgb(247, 173, 173); */
    border-radius: 50px 25px 50px 25px;
    /* width: 300px ; */
    /* height: 100px; */
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.detailImg{
    height: 200px;
    /* background-color: aquamarine; */
    /* filter: drop-shadow(15px 5px 2px  #5d5d62); */
    filter: drop-shadow(0 0 0.75rem rgb(66, 59, 60));
    margin: auto;
}

.detailInfoContainer{
    text-align: left;
    margin: 1px auto;
    margin: auto;
    padding: 20px;
}
.tableData{
    
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
.spanLines{
    color: crimson;
    padding: 3px;
    
}
.detailBtn{
    margin: 2px auto;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    height: 25px;
    /* display: grid; */
    cursor: pointer;
    font-weight: bolder;
}


@media screen and (max-width: 800px) {
    .infoMainContainer{
        /* grid-column: 2 / 4;
        grid-row: 1;
        grid-column: 1 / 4;
        grid-row: 1; */
        /* grid-template-columns: repeat(1, 1fr);  
        gap: 10px;
        grid-auto-rows: minmax(100px, auto); */
        height: 90.2vh;
    }
    
    
}

@media screen and (max-width: 550px) {
    .infoMainContainer{
        /* height: 90.2vh; */
        
        height: 96.2vh;
        height: auto;
        padding: 10px 0 0 0;
    }
    
    
}